.vscode/**

# exclude everything
bin/*
user_database/*
# exception to the rule
!bin/.gitkeep 
!user_database/.gitkeep 

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix